{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}
<h1>Добро пожаловать в Наш онлайн-магазин!</h1>

<h5>Мы рады приветствовать вас на нашем сайте, посвященном продаже самых красивых букетов</h5>

<h4>Наши разделы:</h4>

<p>- **Цветы в продаже**: Узнайте о наличии цветов</p>
<p>- **Регистрация**: Вы можете зарегистрироваться, чтобы отслеживать статус заказа</p>
<p>- **Галерея**: Просмотрите фотографии самых красивых букетов</p>

<h4>Почему мы любим цветы?</h4>

<p>Цветы это часть природы, удивительный мир флоры. Они бывают изумительно красивыми и устрашающими, все зависит от вида и среды обитания. Без них мир был бы лишен красок и ароматов.</p>
<h4>Присоединяйтесь к нашему сообществу</h4>

<h6>Зарегистрируйтесь на нашем сайте и получите доступ к эксклюзивным материалам, обсуждениям и мероприятиям. Мы также приглашаем вас подписаться на нашу рассылку, чтобы всегда быть в курсе новостей и обновлений.</h6>
{% endblock %}